@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  background: #f6f6f5;
  scroll-behavior: smooth;
}

input,
select {
  outline: none;
}

.button {
  @apply px-4 lg:px-6 bg-black py-2 lg:py-3 flex items-center justify-center rounded-xl cursor-pointer;
}

.heading {
  @apply text-[27px] text-center md:text-start font-[600] font-Roboto pb-[20px];
}

.productTitle {
  @apply text-[25px] font-[600] font-Roboto text-[#333];
}

.productDiscountPrice {
  @apply font-bold text-[18px] text-[#333] font-Roboto;
}

.price {
  @apply font-[500] text-[16px] text-[#d55b45] pl-3 mt-[-4px] line-through;
}

.shop_name {
  @apply pt-3 text-[15px] text-blue-400 pb-3;
}

.active_indicator {
  @apply absolute bottom-[-27%] left-0 h-[3px] w-full bg-[crimson];
}

.cart_button {
  @apply px-[20px] h-[38px] rounded-[20px] bg-[#f63b60] flex items-center justify-center cursor-pointer;
}

.cart_button_text {
  @apply text-[#fff] text-[16px] font-[600];
}

.input {
  @apply w-full border p-1 rounded-[5px];
}

.activeStatus {
  @apply w-[10px] h-[10px] rounded-full absolute top-0 right-1 bg-[#40d132];
}
